.login-card {
    padding: 50px !important;
}

.login-text {
    font-size: 3em;
    font-weight: 600;
    color: #7a7a7a;
}

.container-input {
    padding: 30px 20px 0px 20px;
}

.card-container {
    width: calc(40% - 5px);
}


@media (max-width: 900px) {
    .card-container {
        width: 100%;
    }
}

.button {
    margin-top: 50px;
}

.logo {
    width: 40%;
    margin-top: 90px;
    margin-bottom: 90px;
}